<div class="marketing">
  <form class="form" method="GET" >
    <h4 class="with-seperator"></h4>
    <h4 class="with-seperator edit-actors hidden"></h4>
    <div class="form-group row">

      <label for="razorName" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="razorName" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <label for="date" class="col-sm-3 control-label">Date</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="date" placeholder="Date">
      </div>
    </div>    

    <div class="form-group row">
      <label for="rating" class="col-sm-3 control-label">Rating</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="rating" placeholder="1-5">
      </div>
    </div>   

    <div class="form-group row">
      <label for="uses" class="col-sm-3 control-label"># Uses</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="uses" placeholder="1-20">
      </div>
    </div>     

    <div class="form-group row">
      <label for="picture" class="col-sm-3 control-label">Picture</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="picture" placeholder="http://images.com">
      </div>
    </div>

    <div class="form-group row">
      <label for="notes" class="col-sm-3 control-label">Notes</label>
      <div class="col-sm-9">
        <textarea type="text" rows="10" class="form-control" id="notes" placeholder="Notes"></textarea>
      </div>
    </div>

    <div class="form-group row clearfix">
      <div class="col-xs-12">
        <button type="button" id="save" class="btn btn-primary-outline add-actors">Add Razor</button>
      </div>
    </div>

  </form>
</div>