<div class="marketing">
  <form id="search-form" class="form">

    <div class="form-group row">
      <div class="col-md-1 col-xs-4">
        <a href="#/meals/add"><button type="button" value="date" class="btn btn-primary-outline sort-button">Add New Meal</button></a>
      </div>      
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="search-input" placeholder="Search"/>
      </div>
    </div>

  </form>

  <h3 class="text-muted">Meal List</h3>

  <ul id="list" class="list-group">

  </ul>
</div>
