<div class=" marketing">
  <form class="form" method="GET" >
    <h4 class="with-seperator">Edit meal</h4>

    <div class="form-group row">
      <label for="mealName" class="col-sm-3 control-label">Restaurant</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="mealName" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <label for="date" class="col-sm-3 control-label">Date</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="date" placeholder="Date">
      </div>
    </div>

    <div class="form-group row">
      <label for="ate" class="col-sm-3 control-label">Ate</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="ate" placeholder="Ate">
      </div>
    </div>

    <div class="form-group row">
      <label for="notes" class="col-sm-3 control-label">Notes</label>
      <div class="col-sm-9">
        <textarea type="text" rows="10" class="form-control" id="notes" placeholder="Notes"></textarea>
      </div>
    </div>

    <div class="form-group row clearfix">
      <div class="col-sm-3 col-sm-offset-6">
        <button type="button" id="save" class="btn btn-primary-outline">Save</button>
      </div>
      <div class="col-sm-3">
        <button type="button" id="delete" class="btn btn-primary-outline">Delete</button>
      </div>      
    </div>

  </form>
</div>
