<div class=" marketing">


  <form id="search-form" class="form">

    <div class="form-group row">
      <div class="col-md-1 col-xs-4">
        <button type="button" value="mealName" class="btn btn-primary-outline sort-button">Name</button>
      </div>
      <div class="col-md-1 col-xs-4">
        <button type="button" value="rating" class="btn btn-primary-outline sort-button">Rating</button>
      </div>
      <div class="col-md-1 col-xs-4">
        <button type="button" value="date" class="btn btn-primary-outline sort-button">Date</button>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="search-input" placeholder="Search"/>
      </div>
    </div>

  </form>

  <ul id="list" class="list-group">

  </ul>
</div>
