<h3 class="text-muted">Select a Category</h3>

<div id="categories" class="row">
  <div class="col-xs-3">
    <a href="#/meals/list"><i class="fa fa-cutlery fa-4x" aria-hidden="true"></i></a>
  </div>
  <div class="col-xs-3">
    <a href="#/razors/list"><i class="fa fa-scissors fa-4x" aria-hidden="true"></i></a>
  </div>  
  <div class="col-xs-3">
    <a href="#/books/list"><i class="fa fa-book fa-4x" aria-hidden="true"></i></a>
  </div>  
  <div class="col-xs-3">
    <a href="#/games/list"><i class="fa fa-gamepad fa-4x" aria-hidden="true"></i></a>
  </div>      
</div>