<div class="marketing">
  <form class="form" method="GET" >
    <h4 class="with-seperator"></h4>
    <h4 class="with-seperator edit-actors hidden"></h4>
    <div class="form-group row">

      <label for="gameName" class="col-sm-3 control-label">Title</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="gameName" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <label for="date" class="col-sm-3 control-label">Date</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="date" placeholder="Date">
      </div>
    </div>    

    <div class="form-group row">
      <label for="console" class="col-sm-3 control-label">Console</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="console" placeholder="3DS">
      </div>
    </div>

    <div class="form-group row">
      <label for="serial" class="col-sm-3 control-label">Serial Number</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="serial" placeholder="646879816517">
      </div>
    </div>


    <div class="form-group row">
      <label for="rating" class="col-sm-3 control-label">Rating</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="rating" placeholder="1-5">
      </div>
    </div>   

    <div class="form-group row">
      <label for="picture" class="col-sm-3 control-label">Picture</label>
      <div class="col-sm-9">
        <input type="file" class="form-control" name="image" id="picture" placeholder="http://images.com">
      </div>
    </div>

    <div class="form-group row">
      <label for="notes" class="col-sm-3 control-label">Notes</label>
      <div class="col-sm-9">
        <textarea type="text" rows="10" class="form-control" id="notes" placeholder="Notes"></textarea>
      </div>
    </div>

    <div class="form-group row clearfix">
      <div class="col-lg-3">&nbsp;</div>
      <div class="col-lg-9">
        <button type="button" id="add" class="btn btn-primary-outline add-actors">Add Game</button>
        <button type="button" id="edit" class="btn btn-primary-outline edit-actors hidden">Save Game</button>
      </div>
    </div>

  </form>
</div>